<strong>Hi, {{ organizerName }}</strong>
<p>Your Meetup is attracting people's interest! Someone just subscribed to {{ meetupTitle }}.</p>
<p>
  <strong>User Info</strong> <br />
  <i> Name: </i> {{ userName }} <br />
  <i> Email: </i> {{ userEmail }} <br />
  <br />
</p>
